<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}"
      th:object="${person}">
  <label th:for="name">Input name: </label>
  <input th:type="text" th:field="*{name}" th:id="name">
  <br/>
  <label th:for="birthYear">Input year of birth: </label>
  <input th:type="text" th:field="*{birthYear}" th:id="birthYear">
  <br/>
  <input type="submit" th:value="Update"/>

</form>
<a href="/">Menu</a>
</body>
</html>